@import 'variables';

header {
    background-color: $couleurDeFond;
    font-family: 'Chinese Rocks', sans-serif;

    nav {
        width: 80%;
        margin: auto;
        display: flex;
        font-size: 1.5em;
        position: relative;

        // Responsive format mobile
        @media(max-width: 768px) {
            width: 90%;
        }

        // Responsive format téléphone
        @media(max-width: 430px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        img {
            width: 25%;

            // Responsive format téléphone
            @media(max-width: 430px) {
                padding-top: 2vh;
                padding-bottom: 4vh;
                width: 50%;
            }
        }

        #mesLiens {
            width: 60%;
            margin: auto;

            // Responsive format tablette
            @media(max-width: 992px) {
                width: 80%;
                margin: auto;
            }

            // Responsive format mobile
            @media(max-width: 768px) {
                width: 85%;
            }

            // Responsive format téléphone
            @media(max-width: 430px) {
                display: none;
            }

            ul {
                display: flex;
                justify-content: space-between;

                // Responsive format téléphone
                @media(max-width: 430px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: $texteHeaderFooter;

                        // Responsive format téléphone
                        @media(max-width: 430px) {
                            display: block;
                            padding: 14px 16px;
                            padding-right: 6vh;

                        }

                    }

                    a:hover {
                        color: $titre;
                        transition: 0.4s;
                    }
                }

                .details {
                    width: 100%;
                    position: absolute;
                    z-index: 999;
                    display: none;

                    li {
                        display: block;
                    }
                }

                li:hover .details {
                    padding-bottom: 2vh;
                    width: 11%;
                    display: block;
                    background-color: $couleurDeFond;

                    // Responsive format tablette
                    @media(max-width: 992px) {
                        width: 20%;
                    }

                    // Responsive format mobile
                    @media(max-width: 768px) {
                        width: 30%;
                    }

                    // Responsive format téléphone
                    @media(max-width: 430px) {
                        width: 60%;
                    }
                }
            }

        }

        a.icon {
            width: 10%;
            text-align: center;
            display: none;
            color: $texteHeaderFooter;
            background-color: $titre;

            // Responsive format tablette
            @media (max-width: 430px) {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9999;
            }
        }
    }
}