// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Charte graphique
$couleurDeFond: #090808;
$titre: #E23939;
$contenu: #090808;
$texteHeaderFooter: #C8C8C8;
