// Fonts

@font-face {
    font-family: 'Chinese Rocks';
    src: url('.././views/font/chinese-rocks/chinese-rocks-free.ttf') format('truetype');
}

// Variables et Composants
@import 'variables';
@import 'header';
@import 'footer';
@import 'toTop';


// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    margin: 0;
    font-family: 'Chinese Rocks', sans-serif;

    .hero {
        .video-container {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .titre {
            padding-top: 5vh;
            text-align: center;
            color: $titre;
            font-family: 'Univers Light Condensed', sans-serif;


            h1 {
                font-size: 5em;

                // Responsive format tablette
                @media(max-width: 992px) {
                    font-size: 4em;
                }

                // Responsive format mobile
                @media(max-width: 768px) {
                    font-size: 3em;
                }
            }

            h2 {
                font-size: 4em;

                // Responsive format tablette
                @media(max-width: 992px) {
                    font-size: 3em;
                }

                // Responsive format mobile
                @media(max-width: 768px) {
                    font-size: 2em;
                }
            }
        }

    }

    .synopsis {
        width: 50%;
        margin: auto;
        padding-top: 5vh;
        text-align: center;
        font-size: 1.5em;

        // Responsive format tablette
        @media(max-width: 992px) {
            width: 75%;
        }

        // Responsive format mobile
        @media(max-width: 768px) {
            width: 85%;
        }

        // Responsive format téléphone
        @media(max-width: 430px) {
            width: 95%;
            font-size: 1.25em;
        }
    }

    .rubriques {
        padding-top: 5vh;
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 1.5em;

        // Responsive format tablette
        @media(max-width: 992px) {
            width: 95%;
            font-size: 1.25em;
        }

        // Responsive format mobile
        @media(max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .uneRubrique {
            width: 35%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            // Responsive format tablette
            @media(max-width: 992px) {
                width: 45%;
            }

            .image-container {
                width: 20vw;
                height: 20vw;
                overflow: hidden;

                // Responsive format tablette
                @media(max-width: 992px) {
                    width: 25vw;
                    height: 25vw;
                }

                // Responsive format mobile
                @media(max-width: 768px) {
                    width: 45vw;
                    height: 45vw;
                }

                // Responsive format téléphone
                @media(max-width: 430px) {
                    width: 80vw;
                    height: 80vw;
                }
            }

            .image-container img {
                padding-bottom: 2vh;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            button {
                width: 100%;
                margin-bottom: 5vh;
                border-radius: 10px;
                background-color: black;

                // Responsive format mobile
                @media(max-width: 768px) {
                    width: 70%;
                }

                // Responsive format téléphone
                @media(max-width: 430px) {
                    width: 80%;
                }

                a {
                    text-decoration: none;
                    color: $texteHeaderFooter;
                    font-family: 'Chinese Rocks', sans-serif;
                }

                a:hover {
                    color: $titre;
                }

            }

            button:hover {
                background-color: #fff;
                transition-duration: 0.6s;
            }
        }
    }
}