// Fonts
@font-face {
    font-family: "Chinese Rocks";
    src: url(".././views/font/chinese-rocks/chinese-rocks-free.ttf")
        format("truetype");
}

// Variables et Composants
@import "variables";
@import "header";
@import "footer";
@import "toTop";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Chinese Rocks";

    p {
        font-size: 1.25em;
        text-align: justify;
    }

    .hero {
        width: 100%;
        background-image: url("/public/vendor/assets/heroGangs.jpg");
        background-size: cover;
        height: 50vh;

        // Responsive format tablette
        @media (max-width: 992px) {
            height: 35vh;
        }

        // Responsive format téléphone
        @media (max-width: 430px) {
            height: 25vh;
        }
    }

    h1 {
        font-size: 5em;
        text-align: center;
        color: $titre;
        padding-top: 5vh;
        font-family: "Univers Light Condensed", sans-serif;

        // Responsive format tablette
        @media (max-width: 992px) {
            font-size: 4em;
        }

        // Responsive format mobile
        @media (max-width: 768px) {
            font-size: 3em;
        }

        // Responsive format mobile
        @media (max-width: 430px) {
            font-size: 2.5em;
        }
    }

    h2 {
        font-size: 4em;
        text-align: center;
        color: $titre;
        padding-bottom: 5vh;
        font-family: "Univers Light Condensed", sans-serif;

        // Responsive format tablette
        @media (max-width: 992px) {
            font-size: 3em;
        }

        // Responsive format mobile
        @media (max-width: 768px) {
            font-size: 2em;
        }

        // Responsive format mobile
        @media (max-width: 430px) {
            font-size: 1.75em;
        }
    }

    .affichage {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // Responsive format tablette
        @media (max-width: 992px) {
            width: 95%;
        }
    }

    .gang-container {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5vh;

        // Responsive format tablette
        @media (max-width: 992px) {
            width: 95%;
            display: flex;
            flex-direction: column;
        }

        // Responsive format mobile
        @media (max-width: 430px) {
            padding-bottom: 0vh;
        }

        img {
            width: 30vw;
            margin-right: 12vh;

            // Responsive format tablette
            @media (max-width: 992px) {
                width: 60vw;
                padding-bottom: 5vh;
                margin-right: 0vh;
            }

            // Responsive format téléphone
            @media (max-width: 430px) {
                width: 90vw;
            }
        }

        .leGang {
            display: flex;
            flex-direction: column;
        }
    }

    .gang-container.reversed {
        flex-direction: row-reverse;

        // Responsive format tablette
        @media (max-width: 992px) {
            width: 95%;
            display: flex;
            flex-direction: column;
        }
    }

    .gang-container.reversed img {
        margin-right: 0;
        margin-left: 12vh;

        // Responsive format tablette
        @media (max-width: 992px) {
            margin-left: 0vh;
        }
    }
}
