// Fonts

@font-face {
    font-family: 'Chinese Rocks';
    src: url('.././views/font/chinese-rocks/chinese-rocks-free.ttf') format('truetype');
}

// Variables et Composants
@import 'variables';
@import 'header';
@import 'footer';
@import 'toTop';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Chinese Rocks';

    .histoire {

        p {
            font-size: 1.25em;

            // Responsive format tablette
            @media(max-width: 992px) {
                font-size: 1.15em;
            }
        }

        .hero {
            width: 100%;
            background-image: url('/public/vendor/assets/heroHistoire.jpg');
            background-size: cover;
            background-position: center;
            height: 50vh;

            // Responsive format tablette
            @media(max-width: 992px) {
                height: 35vh;
            }

            // Responsive format téléphone
            @media(max-width: 430px) {
                height: 25vh;
            }
        }


        h1 {
            padding-top: 5vh;
            text-align: center;
            color: $titre;
            font-size: 5em;
            font-family: 'Univers Light Condensed', sans-serif;

            // Responsive format tablette
            @media(max-width: 992px) {
                font-size: 4em;
            }

            // Responsive format mobile
            @media(max-width: 768px) {
                font-size: 3em;
            }
        }

        h2 {
            text-align: center;
            color: $titre;
            padding-bottom: 5vh;
            font-size: 4em;
            font-family: 'Univers Light Condensed', sans-serif;

            // Responsive format tablette
            @media(max-width: 992px) {
                font-size: 3em;
            }

            // Responsive format mobile
            @media(max-width: 768px) {
                font-size: 2em;
            }
        }

        .extrait {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: justify;
            padding-bottom: 5vh;

            // Responsive format tablette
            @media(max-width: 992px) {
                display: flex;
                flex-direction: column;
            }


            .image-container {
                width: 200vw;
                height: 20vw;
                overflow: hidden;

                // Responsive format tablette
                @media(max-width: 992px) {
                    width: 95%;
                    margin: auto;
                    height: 40vw;
                    padding-bottom: 5vh;
                }

                // Responsive format téléphone
                @media(max-width: 430px) {
                    width: 100%;
                    height: 40vh;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            p {
                padding-left: 3vh;

                // Responsive format téléphone
                @media(max-width: 430px) {
                    padding-left: 0vh;
                }
            }
        }

        .extrait-inverse {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            text-align: justify;
            padding-bottom: 5vh;

            // Responsive format tablette
            @media(max-width: 992px) {
                width: 86%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            // Responsive format téléphone
            @media(max-width: 430px) {
                width: 95%;
            }

            .image-container {
                width: 260vw;
                height: 20vw;
                overflow: hidden;

                // Responsive format tablette
                @media(max-width: 992px) {
                    width: 110vw;
                    height: 40vw;
                    padding-bottom: 5vh;
                    padding-right: 30vh;
                }

                // Responsive format téléphone
                @media(max-width: 430px) {
                    padding-right: 35vh;
                    width: 170vw;
                    height: 40vh;
                }

                img {
                    width: 90%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    margin-left: 20vh;
                }
            }
        }
    }
}