// Fonts

@font-face {
    font-family: 'Chinese Rocks';
    src: url('.././views/font/chinese-rocks/chinese-rocks-free.ttf') format('truetype');
}

// Variables et Composants
@import 'variables';
@import 'header';
@import 'footer';
@import 'toTop';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Chinese Rocks';

    .histoire {

        p{
            font-size: 1.25em;
        }

        .hero {
            width: 100%;
            background-image: url('/public/vendor/assets/heroHistoire.jpg');
            background-size: cover;
            background-position: center;
            height: 50vh;
        }


        h1 {
            padding-top: 5vh;
            text-align: center;
            color: $titre;
            font-size: 5em;
            font-family: 'Univers Light Condensed', sans-serif;
        }

        h2 {
            text-align: center;
            color: $titre;
            padding-bottom: 5vh;
            font-size: 4em;
            font-family: 'Univers Light Condensed', sans-serif;
        }

        .extrait {
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: justify;
            padding-bottom: 5vh;

            .image-container {
                width: 220vw;
                height: 20vw;
                overflow: hidden;

                img {
                    width: 90%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }

        .extrait-inverse {
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            text-align: justify;
            padding-bottom: 5vh;

            .image-container {
                width: 260vw;
                height: 20vw;
                overflow: hidden;

                img {
                    width: 90%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    margin-left: 20vh;
                }
            }
        }
    }
}