// Fonts
@font-face {
    font-family: "Chinese Rocks";
    src: url(".././views/font/chinese-rocks/chinese-rocks-free.ttf")
        format("truetype");
}

// Variables et Composants
@import "variables";
@import "header";
@import "footer";
@import "toTop";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Chinese Rocks";

    .personnages {
        h1 {
            font-size: 5em;
            padding-top: 5vh;
            color: $titre;
            text-align: center;
            font-family: "Univers Light Condensed", sans-serif;

            // Responsive format tablette
            @media (max-width: 992px) {
                font-size: 4em;
            }

            // Responsive format mobile
            @media (max-width: 768px) {
                font-size: 3em;
            }

            // Responsive format mobile
            @media (max-width: 430px) {
                font-size: 2.5em;
            }
        }

        h2 {
            font-size: 4em;
            color: $titre;
            text-align: center;
            font-family: "Univers Light Condensed", sans-serif;

            // Responsive format tablette
            @media (max-width: 992px) {
                font-size: 3em;
            }

            // Responsive format mobile
            @media (max-width: 768px) {
                font-size: 2em;
            }

            // Responsive format mobile
            @media (max-width: 430px) {
                font-size: 1.75em;
            }
        }

        h3 {
            padding-top: 5vh;
            padding-bottom: 5vh;
            color: $titre;
            text-align: center;
        }

        .hero {
            width: 100%;
            background-image: url("/public/vendor/assets/heroPersonnages.jpg");
            background-size: cover;
            height: 50vh;

            // Responsive format tablette
            @media (max-width: 992px) {
                height: 35vh;
            }

            // Responsive format téléphone
            @media (max-width: 430px) {
                height: 25vh;
            }
        }

        .boutonsFiltre {
            padding-top: 5vh;
            width: 40%;
            margin: auto;
            display: flex;
            justify-content: space-between;

            // Responsive format tablette
            @media (max-width: 992px) {
                width: 60%;
            }

            // Responsive format mobile
            @media (max-width: 768px) {
                width: 80%;
            }

            // Responsive format téléphone
            @media (max-width: 430px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .filtre {
                width: 35%;
                background-color: $couleurDeFond;
                border-radius: 12px;
                height: 5vh;
                font-size: 1.25em;

                // Responsive format téléphone
                @media (max-width: 430px) {
                    margin-bottom: 3vh;
                    width: 90%;
                }

                a {
                    color: $texteHeaderFooter;
                    text-decoration: none;
                }

                a:hover {
                    color: $couleurDeFond;
                }
            }

            .filtre:hover {
                background-color: $titre;
                color: $couleurDeFond;
                transition-duration: 0.6s;
            }
        }

        .cartesPersonnages {
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            padding-bottom: 5vh;

            // Responsive format tablette
            @media (max-width: 992px) {
                width: 95%;
            }

            // Responsive format mobile
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .card {
                width: 80%;
                margin: auto;
                border-radius: 12px;
                font-size: 1.25em;
                margin-bottom: 3vh;

                // Responsive format tablette
                @media (max-width: 992px) {
                    width: 85%;
                }

                // Responsive format mobile
                @media (max-width: 768px) {
                    width: 50%;
                }

                // Responsive format téléphone
                @media (max-width: 430px) {
                    width: 70%;
                }

                h4 {
                    color: $titre;
                    text-align: center;
                }

                .image-container {
                    width: 23, 5vw;
                    height: 15vw;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        margin: auto;
                    }

                    // Responsive format mobile
                    @media (max-width: 768px) {
                        height: 25vw;
                    }

                    // Responsive format téléphone
                    @media (max-width: 430px) {
                        height: 35vw;
                    }
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    button {
                        background-color: $couleurDeFond;
                        color: $texteHeaderFooter;
                        border-radius: 12px;
                        width: 60%;
                        height: 6vh;
                        margin: 0 auto;

                        // Responsive format tablette
                        @media (max-width: 992px) {
                            width: 90%;
                        }

                        // Responsive format mobile
                        @media (max-width: 430px) {
                            width: 100%;
                        }

                        a {
                            text-decoration: none;
                            color: $texteHeaderFooter;
                        }

                        a:hover {
                            color: $couleurDeFond;
                            transition-duration: 0.6s;
                        }
                    }

                    button:hover {
                        background-color: $titre;
                        transition-duration: 0.6s;
                    }
                }
            }
        }
    }
}
