// Fonts
@font-face {
    font-family: "Chinese Rocks";
    src: url(".././views/font/chinese-rocks/chinese-rocks-free.ttf")
        format("truetype");
}

// Variables et Composants
@import "variables";
@import "header";
@import "footer";
@import "toTop";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "Chinese Rocks";

    .regions {
        .hero {
            width: 100%;
            background-image: url("/public/vendor/assets/heroRegion.jpg");
            background-size: cover;
            background-position: center;
            height: 50vh;

            // Responsive format tablette
            @media (max-width: 992px) {
                height: 35vh;
            }

            // Responsive format téléphone
            @media (max-width: 430px) {
                height: 25vh;
            }
        }

        h1 {
            font-size: 5em;
            text-align: center;
            color: $titre;
            padding-top: 5vh;
            font-family: "Univers Light Condensed", sans-serif;

            // Responsive format tablette
            @media (max-width: 992px) {
                font-size: 4em;
            }

            // Responsive format mobile
            @media (max-width: 768px) {
                font-size: 3em;
            }

            // Responsive format mobile
            @media (max-width: 430px) {
                font-size: 2.5em;
            }
        }

        h2 {
            font-size: 4em;
            text-align: center;
            color: $titre;
            padding-bottom: 5vh;
            font-family: "Univers Light Condensed", sans-serif;

            // Responsive format tablette
            @media (max-width: 992px) {
                font-size: 3em;
            }

            // Responsive format mobile
            @media (max-width: 768px) {
                font-size: 2em;
            }

            // Responsive format mobile
            @media (max-width: 430px) {
                font-size: 1.75em;
            }
        }

        p {
            font-size: 1.5em;
            width: 50%;
            margin: auto;
            color: $contenu;
            text-align: center;
            padding-bottom: 4vh;

            // Responsive format tablette
            @media (max-width: 992px) {
                font-size: 1.25em;
                width: 75%;
            }

            // Responsive format téléphone
            @media (max-width: 430px) {
                width: 90%;
            }
        }

        .uneRegion {
            width: 100%;

            .image-container-wrapper {
                position: relative;
            }

            .image-container {
                width: 100%;
                height: 30vw;
                overflow: hidden;
                display: flex;
                align-items: center;

                // Responsive format téléphone
                @media (max-width: 430px) {
                    height: 50vw;
                }
            }

            .image-container::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                pointer-events: none;
            }

            .nomRegion {
                left: 50%;
                transform: translateX(-50%);
                bottom: 30%;
                position: absolute;
                text-align: center;

                // Responsive format tablette
                @media (max-width: 992px) {
                    bottom: 15%;
                }

                // Responsive format mobile
                @media (max-width: 768px) {
                    bottom: 10%;
                }

                // Responsive format téléphone
                @media (max-width: 430px) {
                    bottom: 5%;
                }

                .nom {
                    width: 100%;
                    font-size: 3.5em;
                    color: $titre;

                    // Responsive format tablette
                    @media (max-width: 992px) {
                        font-size: 3em;
                    }

                    // Responsive format mobile
                    @media (max-width: 768px) {
                        font-size: 2.5em;
                    }

                    // Responsive format téléphone
                    @media (max-width: 430px) {
                        font-size: 1.75em;
                    }
                }

                .capitale {
                    width: 100%;
                    font-size: 3.25em;
                    color: $titre;

                    // Responsive format tablette
                    @media (max-width: 992px) {
                        font-size: 2.75em;
                    }

                    // Responsive format mobile
                    @media (max-width: 768px) {
                        font-size: 2.25em;
                    }

                    // Responsive format téléphone
                    @media (max-width: 430px) {
                        font-size: 1.5em;
                    }
                }
            }

            .description {
                padding-top: 4vh;
                width: 80%;
                margin: auto;
                text-align: justify;
                color: $contenu;

                // Responsive format tablette
                @media (max-width: 992px) {
                    width: 90%;
                }

                // Responsive format téléphone
                @media (max-width: 430px) {
                    width: 95%;
                }
            }
        }
    }
}
