// Fonts
@font-face {
    font-family: 'Chinese Rocks';
    src: url('.././views/font/chinese-rocks/chinese-rocks-free.ttf') format('truetype');
}

// Variables et Composants
@import 'variables';
@import 'header';
@import 'footer';
@import 'toTop';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Chinese Rocks';

    h1 {
        padding-top: 5vh;
        color: $titre;
        text-align: center;
        padding-bottom: 5vh;
        text-transform: uppercase;
        font-family: 'Univers Light Condensed', sans-serif;
    }

    .lePersonnage {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        border: 2px solid #000;
        box-shadow: 10px 5px 5px;
        padding: 20px;
        padding-bottom: 5vh;
        margin-bottom: 5vh;

        // Responsive format mobile
        @media(max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image-container {
            width: 30vw;
            height: 30vw;
            overflow: hidden;

            // Responsive format mobile
            @media(max-width: 768px) {
                width: 60vw;
                height: 60vw;
            }
        }

        .image-container img {
            padding-bottom: 2vh;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        .details {
            width: 50%;

            // Responsive format tablette
            @media(max-width: 992px) {
                width: 60%;
            }

            // Responsive format mobile
            @media(max-width: 768px) {
                width: 80%;
            }

            // Responsive format téléphone
            @media(max-width: 430px) {
                width: 95%;
            }

            .label {
                color: $titre;
                font-size: 1.5em;
                text-transform: uppercase;
                font-family: 'Univers Light Condensed', sans-serif;
            }

            .content {
                color: $contenu;
                font-size: 1.25em;
            }

            button {
                background-color: $couleurDeFond;
                color: $texteHeaderFooter;
                border-radius: 12px;
                width: 30%;
                height: 6vh;
                margin: 0 auto;

                // Responsive format tablette
                @media(max-width: 992px) {
                    width: 60%;
                }

                // Responsive format mobile
                @media(max-width: 768px) {
                    width: 50%;
                }

                // Responsive format téléphone
                @media(max-width: 430px) {
                    width: 70%;
                }

                a {
                    font-size: 1.25em;
                    text-decoration: none;
                    color: $texteHeaderFooter;
                }

                a:hover {
                    color: $couleurDeFond;
                    transition-duration: 0.6s;
                }
            }

            button:hover {
                background-color: $titre;
                transition-duration: 0.6s;
            }
        }
    }

}